* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
}


body {
    background-color: #d7bfd8;
}

header {
    border-bottom: 1px solid #2b2b2b;
    padding: 1rem 1rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    background-color: #ff0e0e;  
}


#search-container {
    display: flex;
    align-items: center;
    gap: 20rem;
  }

#search-input {
    background-color: #fff;
    border-radius: 7px;
    border: none;
    padding: 7px;
    font-weight: bold;
    color: #ddd;
    width: 300px;

   
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

#nav-bar li{
    margin-left: 58%;
}

#nav-bar a {
    color: #e4e2e2;
}
#nav-bar a:hover {
    color: #bfbebe;
}

#nav-bar button {
    border: none;
    border-radius: 7px;
    width: 165%;
    height: 108%;
    background-color: rgb(45, 45, 251);
    color: #fff;
}

#nav-bar button:hover {
    background-color: rgb(37, 37, 147);
}


#main-header  {
    display: flex;
    margin-top: 20px;
   
}

#main-header h1 {
    margin-left: 20px;
}

#main-header label {
    margin-left: 70%;
    font-size: 16px;
    margin-top: 12px;
}

#options {
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    width: 90px;
    height: 32px;
    margin-top: 5px;

}

    
#main-produtos {
    display: flex;
    margin-left: 15%;
    margin-top: 30px;
    flex-wrap: wrap;
   
}

.produtos {
    text-align: center;
    padding: 1px;
    flex-basis: 20%;
}